.main {
    background: #F2F5FF;
    font-family: 'Inter', sans-serif;
}

header {
    font-size: 16px;
    line-height: 1.4;
}

.upload-form {
    border: 3px dashed #0d6efd;
    border-radius: 25px;
    background: #F2F5FF;
    width: 90%;
    transition: border-color 0.3s ease;
}

.upload-form.dragover {
    border-color: #003381;
    background: #F0F0F0;
    cursor: pointer;
}

.url-form {
    border: 1px solid #0d6efd;
    border-radius: 10px;
    background: white;
}

.btn-copy:active {
    background-color: green;
}